html, body {
    padding: 0;
    margin: 0;
}

body {
    background: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz {
    background: bisque;
    width: 30rem;
    padding: 4rem;
    text-align: center;
}

h1 {
    color: blue;
    font-size: 3rem;
    text-align: center;
    padding: 2px 0;
}

#question {
    font-size: 1.7rem;
    color: #5a7772;
}

.button {
    background-color: #34a3a3;
    color: white;
    width: 250px;
    font-size:20px;
    border-radius: 0.3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
    outline: 0;
}

.button:hover {
    cursor: pointer;
    background: blue;
}

#progress {
    font-size: 20px;
}